/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-container {
    display: flex;
    margin: 50px 8%;
    padding: 0;
    background-color: #170149;
    border-radius: 20px;

}

.header-half-width {
    width: 100%;
}

.header-details {
    padding-left: 80px;
}

.header-details h1 {
    margin-top: 100px;
    font-size: 3.5vw;
    color: white;
}

.header-details p {
    color: white;
    margin: 20px 0;
}

.header-details button {
    background-color: rgb(245, 104, 226);
    color: white;
    width: 112px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: width 2s;

}

.header-details button:hover {
    width: 100%;

}

.header-banner {
    padding-right: 20px;
}

.header-banner img {
    margin-top: 30px;
    min-width: 450px;
    max-width: 100%;
}


/*--------------main-section start------------------*/
.main-section {
    display: flex;
    margin: 130px 8%;
    padding: 0;
}

.main-navbar ul {
    width: 252px;
    height: 272px;
    background-color: #170149;
    border-radius: 10px;
    padding: 30px;
    margin: 0;
}

.main-navbar ul li {
    list-style: none;
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.main-navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#blog-link {
    background-color: rgb(245, 104, 226);
}

#blog-link a {
    color: white;
}

/*-------------------- blog section ------------- */
.blogs,
.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 24px;
    grid-gap: 24px;
}

.blogs .blog,
.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blogs .blog img {
    width: 100%;
}

.blog-details {
    padding: 20px;
}

.blog-details button {
    margin-bottom: 20px;
    padding: 4px
}

.transfer-time {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
}

.time {
    margin-right: 20px;
}

.time span,
.comments span {
    margin-left: 5px;
}

/* upcomming match section  */

.team-flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-flag img {
    width: 40%;
}

.team-flag h4 {
    margin: 0 0.5vw;
}

.match-details {
    text-align: center;
    margin: 20px 0;
}

/* view all button  */
.view {
    text-align: center;
    margin-bottom: 30px;
    display: none;
}

.view button {
    background-color: rgb(245, 104, 226);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}

/* footer-section start -------------------------------------- */
.footer-section {
    background-color: #170149;

}

.footer {
    margin: 0 8%;
}

.footer h2 {
    padding-top: 130px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.footer-nav ul {
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-nav li {
    list-style: none;
    color: white;
    margin: 0 50px 20px 0;
}

.icon {
    text-align: center;
    padding-bottom: 50px;
}

.icon a {
    margin-right: 20px;

}

.icon .facebook {
    color: #1877F2;
}

.icon .youtube {
    color: red;
}

.icon .instagram {
    color: #f75f78;
}

/* Media Queries ------------------------------------------------- */

/* Mobile device -------------- */
@media only screen and (max-width:688px) {

    /* header section ----------- */
    .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .header-half-width {
        width: 80%;
    }

    .header-details {
        padding: 5px;
        text-align: center;
    }

    .header-details h1 {
        margin-top: 30px;
        font-size: 30px;
    }

    .header-banner {
        padding: 0;
        text-align: center;
    }

    .header-banner img {
        padding: 10px;
        min-width: 250px;
        max-width: 80%;
    }

    /* main section  */
    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 10px;
    }

    .main-navbar ul {
        margin-bottom: 40px;
    }

    .blogs,
    .matchs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        grid-gap: 24px;
    }

    /* footer section  */
    .footer-nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .footer-nav li {
        margin: 10px;
    }
}

/* Tab device -------------- */
@media only screen and (min-width:688px) and (max-width:992px) {

    /* header section ------- */
    .header-container {
        display: flex;
        margin: 30px;
    }

    .header-details {
        padding-left: 15px;
    }

    .header-details h1 {
        margin-top: 30px;
        font-size: 35px;
    }

    .header-banner img {
        margin-top: 30px;
        min-width: 350px;
        max-width: 100%;
    }

    /* main section  */
    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .main-navbar ul {
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        margin: 50px;
        padding: 0;
        width: 92vw;
        height: 65px;
    }

    .main-navbar ul li {
        padding: 0;
        border: 1px solid #E8E8E8;
        width: 180px;
        padding: 17px;
    }

    /*-------------------- blog section ------------- */
    .blogs,
    .matchs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }

    /* view all button  */
    .view {
        display: block;
    }
}