/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header-container{
    display: flex;
    background-color: rgb(243, 93, 93);
    margin: 50px 8%;
    padding: 0;
    background-color: #161616;
    border-radius: 20px;
    
}
.header-half-width{
    width: 100%;
}
.header-details{
    padding-left: 80px;
}
.header-details h1{
    margin-top: 100px;
    font-size: 3.5vw;
    color: white;
}
.header-details p{
    color: white;
    margin: 20px 0;
}
.header-details button{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.header-banner {
    padding-right: 20px;
 }

.header-banner img{
    margin-top: 30px;
    min-width: 500px;
    max-width: 100%;
    
}

/*--------------main-section start------------------*/
.main-section{
    display: flex;
    margin: 130px 8%;
    padding: 0;
}

.main-navbar ul{
    width: 252px;
    height: 252px;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    margin: 0;
}
.main-navbar ul li{
    list-style: none;
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.main-navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#blog-link{
    background-color: red;
}
/*-------------------- blog section ------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 24px;
    grid-gap: 24px;
}
.blogs .blog{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blogs .blog img{
    width: 100%;
}
.blog-details{
    padding: 20px;
}
.blog-details button{
    margin-bottom: 20px;
    padding: 4px
}
.transfer-time{
    display: flex;
    flex-wrap: wrap;
    padding: 0  20px 20px 20px;
}
.time{
    margin-right: 20px;
}
.time span ,.comments span{
    margin-left: 5px;
}

/* footer-section start -------------------------------------- */
.footer-section{
    background-color: #161616;

}
.footer{
    margin: 0 8%;
}
.footer h2{
    padding-top: 130px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 40px;
}
.footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.footer-nav ul{
    padding-top: 50px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-nav li {
    list-style: none;
    color: white;
    margin: 0 50px 20px 0;
}